@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100 dark:bg-black antialiased scroll-smooth font-body;
  }

  header {
    @apply bg-white dark:bg-stone-950 border-b border-stone-200 dark:border-black fixed w-full md:static z-50;
  }

  main {
    @apply border-t border-white dark:border-stone-900;
  }

  .wrapper {
    @apply mx-auto max-w-screen-lg px-4 py-4 sm:px-6 sm:py-12 lg:px-8;
  }

  #nav-menu {
    @apply hidden fixed inset-x-0 text-center bg-white dark:bg-stone-950 top-16 sm:top-32 bottom-0 z-30;
  }

  #nav-menu li a{
    @apply block py-2 text-stone-600 md:text-stone-500 hover:text-black dark:text-white dark:md:text-white/80  dark:hover:text-white hover:text-4xl transition-all duration-500;
  }

  .nav-link {
    @apply  block px-2 py-2 text-sm border-b-2 border-b-transparent text-stone-600 hover:text-black transition duration-500 hover:border-accent dark:text-stone-400 dark:hover:text-white;
  }

  .tile {
    @apply bg-stone-200 dark:bg-stone-950 rounded-lg overflow-hidden;
  }

  .tile-headline {
    @apply absolute transition-all duration-300 inset-x-0 bottom-0 z-10
    p-4
    bg-black text-white border-t-2 border-accent
    flex flex-col justify-end items-end group-hover:bg-black/70;
  }

  .tile-body-animated {
    @apply h-0 group-hover:h-[105px] transition-all ease-in-out duration-300 overflow-hidden
  }

  .tile-headline h2 {
    @apply  text-xl font-semibold leading-6 !text-white;
  }

  .tile-sm .tile-headline h2 {
    @apply  text-sm;
  }

  .tile-sm .tile-headline {
    @apply px-4 py-2 ;
  }

  .tile-sm .tile-headline p {
    @apply line-clamp-2 text-xs pt-2;
  }

  .tile-headline p {
    @apply line-clamp-3 text-sm leading-6 text-stone-300 pt-4;
  }




  .prose code {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-800 dark:text-zinc-200 !important;
  }
  p,
  li,
  strong,
  blockquote,
  table * {
    @apply text-zinc-700 dark:text-zinc-300;
  }
  kbd {
    @apply bg-white text-zinc-700;
  }
  mark {
    @apply bg-yellow-300;
  }
}

.video-wrapper {
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}


/** Nav menu **/
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

/** Theme toggle */
.sun {
  @apply stroke-yellow-500 transition-all;
}

.dark .sun {
  @apply stroke-stone-400;
}

#themeToggle:hover .sun {
  @apply stroke-black;
}

.dark #themeToggle:hover .sun {
  @apply stroke-yellow-500;
}

