---
import Base from "@layouts/Base.astro";
import CategoryIcon from "@components/icons/CategoryIcon.astro";
import { getTaxonomy } from "@utils/getAllTags";
import { getSinglePage } from "@utils/getAllTags";
import { taxonomyFilter } from "@utils/getAllTags";
import { deslugify } from "@utils/slug";

export async function getStaticPaths() {
  const tags = await getTaxonomy("blog", "tags");

  return tags.map((tag) => {
    return {
      params: { tag: tag.slug },
    };
  });
}

const { tag } = Astro.params;

const posts = await getSinglePage("blog");
const filterByTags = taxonomyFilter(posts, "tags", tag);
---

<Base>
  <section class="min-h-screen">
    <h1>Tag: {deslugify(tag)}</h1>
    <ul class="space-y-4 text-left ml-4">
      {
        filterByTags?.map((post) => (
            <li class="flex items-center space-x-1">
              <CategoryIcon />
              <a
                  href={`/blog/${post.slug}`}
                  class="link"
              >
                {post.data.title}
              </a>
            </li>
        ))
      }
    </ul>
  </section>

</Base>
