---
import Base from "@layouts/Base.astro";
import CategoryIcon from "@icons/CategoryIcon.astro";
import { getTaxonomy } from "@utils/getAllTags";

const allCategories = await getTaxonomy("blog", "categories");
const uniqueCategories = [...new Set(allCategories.map(item => item.slug))].map(slug => allCategories.find(cat => cat.slug === slug));
---

<Base>
  <section class="min-h-screen">
    <h1>Categorías</h1>

    <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
      {
        uniqueCategories.map((category) => (
          <div class="flex items-center card flex-row p-4 justify-center">
            <CategoryIcon />
            <a
              class="text-lg link !no-underline capitalize"
              href={`/categories/${category.slug}`}
              title={`Ver publicación de la categoría: ${category.name}`}
            >
              {category.name}
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Base>
