---
import RightArrowIcon from "@components/icons/RightArrowIcon.astro";
---

<div class="m-auto text-right mt-12">
  <a
    class="inline-block rounded-lg border-2 px-6 py-3 text-sm font-medium
    transition duration-200
    border-accent text-accent hover:text-white hover:bg-accent
    dark:border-accent dark:text-white dark:hover:border-accent
    focus:outline-none focus:ring ring-accent/50 active:bg-accent"
    href="/blog"
  >
    Más publicaciones
    <RightArrowIcon />
  </a>
</div>
