---
import RightArrowIcon from "@components/icons/RightArrowIcon.astro";
---

<div class="m-auto text-right mt-12">
  <a
    class="button"
    href="/blog"
  >
    Más publicaciones
    <RightArrowIcon />
  </a>
</div>
